<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="example">
			<input type="radio" id="one" value="one" v-model="picked" />
			<label for="one">One</label>
			<input type="radio" id="two" value="two" v-model="picked" />
			<label for="two">Two</label>
			<br />
			<span > Picked : {{ picked   }}
			</span>
		</div>
		<script src="../vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			new Vue({
				el: '#example',
				data:{
					picked: ' '				
				}			
			})
			
			
		</script>
	</body>
</html>
